# arquivos de programas 
.vscode/

# arquivos de sistema
.DS_Store

# arquivos compilados
*.o  

# arquivos mp3
songs/
.mp3
udp/
tcp_udp/
teste1/
# outros
server
client
teste
teste.c
server-alt.c
client-alt.c

.gitignore